body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444444;
  padding: 5px;
}

#loggedUserName {
  padding-right: 10px;
}

.hidden {
  display: none;
}

.header {
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); 
  display: flex;
  align-items: center;
}

.header .logo {
  padding: 20px;
  padding-right: 60px;
  cursor: default;
}

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
}

.header ul li {  
  padding: 8px;
  border-radius: 8px;
  transition: background-color 150ms;
}

.header ul li a {
  text-decoration: none;  
  color: #444444;
  transition: color 150ms;
}

.header ul li:hover,
.header ul li.active {
  background-color: #585858;
} 

.header ul li:hover a,
.header ul li.active a {
  color: rgb(255, 255, 255);
}






